body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: Arial;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.navbar a {
  color: #38bdf8;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  text-align: center;
}

.hero img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.buttons a {
  background: #38bdf8;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
}

section {
  margin-top: 40px;
}

h2 {
  border-bottom: 2px solid #38bdf8;
}

.skills span {
  background: #1e293b;
  padding: 8px 14px;
  border-radius: 20px;
  margin: 5px;
  display: inline-block;
}

footer {
  text-align: center;
  margin-top: 50px;
  color: gray;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: #020617;
  border: 1px solid #38bdf8;
  padding: 20px;
  border-radius: 15px;
}

.project-card h3 {
  margin-top: 0;
}

.project-card a {
  color: #38bdf8;
  text-decoration: none;
}
/* Mobile Responsive */

@media (max-width: 768px) {

  body {
    padding: 10px;
  }

  .container {
    padding: 10px;
  }

  h1 {
    font-size: 26px;
    text-align: center;
  }

  h2 {
    font-size: 22px;
    text-align: center;
  }

  p {
    font-size: 14px;
    text-align: center;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .project-card {
    text-align: center;
  }

  .skills {
    justify-content: center;
  }

  nav {
    flex-direction: column;
    gap: 10px;
  }

  img {
    width: 120px;
    height: 120px;
  }

}
